@page "/MenuCobrar"
@inject NotificationService notificationServices
@inject VentasServices ventasServices
@inject NavigationManager navigationManager
@* @attribute [Authorize(Roles = "Admin")] *@

@rendermode InteractiveServer


<PageTitle>Cobrar</PageTitle>
<RadzenNotification />

<a href="/MenuAdmin" class="w-20 btn btn-lg btn-outline-secondary"><i class="bi bi-arrow-left"></i></a>
<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="fondo " style="border-radius: 1rem;">

                <div class="card-body p-5 text-center">
                    <h1 class="fw-bold mb-2 text-uppercase">Cobrar</h1>

                    <div class="tab-content">
                        <form>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (!ventas.Any())
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center">@mensaje</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var ventas in ventas)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="/Imagenes/Empleado.png" style="width: 50px; height: auto; margin-right: 10px;" />
                                                </td>
                                                <td>@ventas.Fecha</td>
                                                <td>@ventas.Cliente</td>
                                                <td>@ventas.Deuda</td>
                                                <td>
                                                    <div>
                                                        <a href="/CreateCobrar/@ventas.VentaId" class="btn btn-primary"><i class="bi bi-coin" /> Cobrar</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@* if (Confirmacion)
{
<div class="modal fade show d-block" id="confirmarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Deuda actual: @ventass.Deuda</h5>
                <h5>Ingrese el monto a abonar:</h5>
                <InputNumber id="Pago" class="form-control" @bind-Value="Pago"></InputNumber>
                <!-- Elimina el atributo data-bs-dismiss="modal" del botón -->
                <button type="button" class="btn btn-secondary" @onclick=Guardar>Ok</button>
            </div>
        </div>
    </div>
</div>
} *@


@code {
    public List<Ventas> ventas = new List<Ventas>();
    public Ventas ventaSeleccionada = new Ventas();
    public string mensaje;
    public float Pago;
    public bool Confirmacion = false;

    protected override async Task OnInitializedAsync()
    {
        if (ventas == null || !ventas.Any())
            mensaje = "No hay datos";

        ventas = await ventasServices.GetVentasDeudas();
    }
}