@page "/DeleteProductos/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@inject ProductosServices productosService
@inject NavigationManager navigationManager
@inject NotificationService notificationServices
@inject IJSRuntime JSRuntime
@* @attribute [Authorize(Roles = "Admin")] *@

@rendermode InteractiveAuto
<RadzenNotification />
<PageTitle>Producto</PageTitle>

<div class="d-flex justify-content-center">
    <img src="/Imagenes/Logo.png" alt="Logo de la aplicación" style="width:200px; height:auto; display: block;">
</div>

<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="fondo col-lg-6 col-xl-6" style="border-radius: 1rem;">

                <div class="card-body p-5 text-center">
                    <h1 class="fw-bold mb-2 text-uppercase">Eliminar el producto</h1>

                    <div class="tab-content">

                        <div class="col-md-11 mx-auto">
                            <h3 class="text-center"><strong>Datos del producto</strong></h3>
                            <div class="border-primary border border-2">
                                <div class="justify-content-center col-5 mx-auto">
                                    <!-- Ajuste para centrar la imagen -->
                                    <div class="text-center">
                                        <img src="@GetImageSource()" alt="Imagen" class="img-fluid img-thumbnail" style="width: auto; height: auto;">
                                    </div>
                                </div>

                                <div class="card-body">
                                    <ul class="list-unstyled" style="margin-top: 20px; margin-bottom: 20px;">
                                        <li><strong>FechaCreaci&oacute;n:</strong> @productos.FechaCreacion.ToShortDateString()</li>
                                        <li><strong>Nombre:</strong> @productos.Nombre</li>
                                        <li><strong>Descripci&oacute;n:</strong> @productos.Descripcion</li>
                                        <li><strong>Precio de Venta:</strong> @productos.PrecioVenta.ToString("N2")</li>
                                        <li><strong>Precio de Compra:</strong> @productos.PrecioCompra.ToString("N2")</li>
                                        <li><strong>Cantidad en almacen:</strong> @productos.Cantidad</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="row d-flex justify-content-center mt-3">
                            <td>
                                <div>
                                    <a href="/IndexProductos" class="w-20 btn btn-outline-primary ms-3"><i class="bi bi-arrow-left"></i> Volver</a>
                                    <button @onclick="() => ConfirmarEliminar(productos.ProductoId)" class="btn btn-outline-danger"><i class="bi bi-trash-fill" /> Eliminar</button>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


@if (Confirmacion)
{
    <div class="modal fade show d-block" id="confirmarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=Close></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar este barbero?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick=Close>Cancelar</button>
                    <button type="button" class="btn btn-danger" @onclick=@(async () => await Eliminar(Id))>Eliminar</button>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }
    private Productos productos { get; set; } = new Productos();
    public bool Confirmacion = false;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            productos = await productosService.GetProducto(Id);
        }
    }
    private void Close()
    {
        Confirmacion = false;
    }
    private async Task ConfirmarEliminar(int id)
    {
        Confirmacion = true;
    }


    private async Task Eliminar(int Id)
    {
        if (Id != 0)
        {
            await productosService.DeleteProducto(Id);
            var Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Eliminacion exitosa",
                    Detail = "Se a borrado el producto",
                    Duration = 1_000
                };
            notificationServices.Notify(Mensaje);
            await Task.Delay(1000);
            navigationManager.NavigateTo("/IndexProductos");
        }
    }

    // En la página de eliminación de productos
    public string GetImageSource()
    {
        if (productos.Foto != null && productos.Foto.Length > 0)
        {
            return $"data:image;base64,{Convert.ToBase64String(productos.Foto)}";
        }
        return null;
    }



}